.footer {
    height: 5em;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 100%;
    /* z-index: 999; */
    position: absolute;
    bottom: 0;
    /* max-Width: 1680px;
    margin: 0px auto; */
    text-align: center;
    font-size: 1em;
    /* align-content: center; */
    background-color: transparent;
    /* align-content: center; */
}